@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400;0,500;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");


:root {
  --oxford-blue: #011638;
  --charcoal: #364156;
  --silver: #cdcdcd;
  --honeydew: #dff8eb;
  --dark-green: #47682c;
  --sans-serif: "Raleway", sans-serif;
  --serif: "Poltawski Nowy", serif;
}

.ProfileCard {
  font-family: "DM Serif Display";
  background-color: red;
}

#im-alex-text {
  font-family: var(--sans-serif);
  font-size: 85%;
}
#profile img {
  width: 350px;
  height: auto;
  /* margin-right: 50px; */
  /* padding: 100px;
   */
   margin: 50px;
}

#text-wrapper {
  position: relative;
  display: inline-block; /* Ensure the text container takes the width of the text */
}

/* Add these styles to your ProfileCard.css or create a new CSS file */
.intro-card-wrapper {
  align-items: center;
  display: flex;
  justify-content: center; /* Center align the text */
  padding: 20px;
  font-family: var(--serif);
  background-color: var(--oxford-blue);
  color: white;
  font-weight: 400;
  font-size: 40px;
}

#intro-card-text {
  padding-right: 10px;
  height: 5vw;
  display: inline; /* Display the text as inline */
}

#im-alex-text {
  font-family: var(--sans-serif);
  font-size: 85%;
}
.intro-buttons {
  /* background-color: red; */
  justify-content: center;
  display: flex;
}

#linkedin {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 24px; /* Adjust the font size as per your design */
  font-weight: bold; /* Optionally set font weight if needed */
  color: white; /* Adjust the text color as per your design */
  border: 2px solid white;
  padding: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin: 10px;
}
#linkedin:hover {
  background-color: #cdcdcd98;
}
#github {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 24px; /* Adjust the font size as per your design */
  font-weight: bold; /* Optionally set font weight if needed */
  color: white; /* Adjust the text color as per your design */
  border: 2px solid white;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin: 10px;
  background-color: transparent;
}
#github:hover {
  background-color: #cdcdcd98;
}
#resume {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 24px; /* Adjust the font size as per your design */
  font-weight: bold; /* Optionally set font weight if needed */
  color: white; /* Adjust the text color as per your design */
  border: 2px solid white;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin: 10px;
  background-color: transparent;
}
#resume:hover {
  background-color: #cdcdcd98;
}
